.browse:hover{
    scale: (1.1);
}

.btn-personal {
    background-color: white;
    color: #026c9c;
    border-color: #026c9c;
    animation: gradual-border 1s 1 ease-in-out;
}

.btn-gradual {
    animation: gradual-color 1s 1 ease-in-out;
    background-color:#026c9c;
    color:#fff ;
}