.view-btn{  
    background-color: #ffca5b;
    color: #2c3e4c;
}
.validate-btn{
    background-color: #008a00;
    color: aliceblue;
}
.edit-btn{
    background-color: #ffac00;
    color: aliceblue;
}
.blue-btn{
    background-color: #026c9c;
    color: aliceblue;
}
.delete-btn{
    background-color: #b22222;
    color: aliceblue;
}