.view-btn{  
    background-color: #ffca5b;
    color: #2c3e4c;
}
.validate-btn{
    background-color: #008a00;
    color: aliceblue;
}
.remind-btn{
    background-color: #ffac00;
    color: aliceblue;
}
.delete-btn{  
    background-color: #db3700;
    color: aliceblue;
}